asgiref==3.7.2
autopep8==2.0.2
bleach==6.0.0
Django==4.2.3
django-summernote==0.8.20.0
Faker==19.2.0
flake8==6.1.0
iniconfig==2.0.0
mccabe==0.7.0
packaging==23.1
Pillow==10.0.0
pluggy==1.2.0
pycodestyle==2.11.0
pyflakes==3.1.0
pytest==7.4.0
pytest-django==4.5.2
python-dateutil==2.8.2
six==1.16.0
sqlparse==0.4.4
webencodings==0.5.1
