<div class="recipe recipe-list-item">
  <div class="recipe-list-cover">
    <img src="{{ recipe.cover.url }}" alt="Recipe image">
  </div>
  <div class="recipe-title-container">
    <h2 class="recipe-title">{{ recipe.title }}</h2>
  </div>

  <div class="recipe-author">
    <span class="recipe-author-item">
      <i class="fas fa-user"></i>
      {{ recipe.author.first_name }} {{ recipe.author.last_name }}
    </span>
    <span class="recipe-author-item">
      <i class="fas fa-calendar-alt"></i>
      {{ recipe.created_at }}
    </span>
    <span class="recipe-author-itens">
      <a href="/">
        <i class="fas fa-layer-group"></i>
        <span>{{ recipe.category.name }}</span>
      </a>
    </span>
  </div>

  <div class="recipe-content">
    <p>{{ recipe.description }}</p>
  </div>

  <div class="recipe-meta-container">
    <div class="recipe-meta recipe-preparation">
      <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i> Preparation</h3>
      <div class="recipe-meta-text">
        {{ recipe.preparation_time }} {{ recipe.preparation_time_unit }}
      </div>
    </div>
    <div class="recipe-meta recipe-servings">
      <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i> Portions</h3>
      <div class="recipe-meta-text">
        {{ recipe.servings }} {{ recipe.servings_unit }}
      </div>
    </div>
  </div>

  <footer class="recipe-footer">
    <a href="/" class="recipe-read-more button button-dark button-full-width">
      <i class="fas fa-eye"></i>
      <span>See more...</span>
    </a>
  </footer>

</div>